html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* new color variables */
/* end new color vars */
/* 400px */
/* 700px */
/* 900px */
/* 1100px */
/* 1300px */
/*
@mixin transition ( $values ) {
  -webkit-transition: $values;
     -moz-transition: $values;
      -ms-transition: $values;
          transition: $values;
}
*/
/* apply a natural box layout model to all elements, but allowing components to change */
* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #ffffff; }

.lt-ie9 * {
  filter: none !important; }

[aria-hidden=true] {
  display: none !important; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.outline {
  border: solid 1px #ababab; }

.one-quarter {
  width: 25%;
  float: left; }

.one-third {
  width: 33.33333%;
  float: left; }

.one-half {
  width: 50%;
  float: left; }

.one-sixth {
  width: 16.66667%;
  float: left; }

body {
  background-color: #f0f0f0; }

.layout-container {
  background-color: transparent; }
.layout-container > header {
  background-color: #fff; }
.layout-container > main {
  background-color: #fff; }
.layout-container > footer {
  background-color: #242424; }

.region-primary-menu {
  background-color: #fff; }
.region-primary-menu .block-menu {
  background-color: transparent; }

.layout-content {
  background-color: #fff; }

.layout-sidebar-first {
  background-color: #fff; }

.layout-sidebar-second {
  background-color: #fff; }

/******** HTML-BASE ***********/
/* style overrides for existing HTML elements - no id's or classes */
body {
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 100%;
  /* Fixes exaggerated text resizing in IE6 and IE7 */ }
body .layout-container {
  /* including here to complete the base font sizing */
  font-size: 1em;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

figure a:hover, figure a:focus {
  background-color: transparent; }

label {
  font-weight: normal; }

/******* /HTML-BASE ***********/
/* This mixin is meant to give a nicer link underline that sits comfortably below the text and uses text shadow to knock out the underline around descenders */
/*
Nice Link Features key
Background Color - defaults to white, needed to blend the text shadow with the background color to create the 'knock-out' effect
$background: #ffffff

Link Color - defaults to blue, needed to match the text and underline colors
$link: #0000ee

*/
/* This mixin is meant to help enable/disable OpenType features in your web pages with web fonts that support them */
/*
OpenType Features Key
@mixin otfeatures($c2sc: 0, $calt: 0, $clig: 0, $dlig: 0, $frac: 0, $hist: 0, $hlig: 0, $kern: 0, $liga: 0, $nalt: 0, $ncase: 0, $nspace: 0, $salt: 0, $ss01: 0, $ss02: 0, $ss03: 0, $ss04: 0, $ss05: 0, $swsh: 0, $zero: 0)

// Ligatures 
"liga" : common ligatures 
"dlig" : discretionary ligatures 
"clig" : contextual ligatures 
"hlig" : historical ligatures 

// Alternate Characters
"swsh" : swashes 
"calt" : contextual alternates 
"hist" : historical character alternatives 
"salt" : stylistic alternatives 

// Kerning
"kern" : enable use of embedded kerning table 

// Letter Case
"smcp" : small caps 
"c2sc" : small caps from caps 

// Stylistic Alternates
"ss01" : alternate stylistic set 1 
"ss02" : alternate stylistic set 2  
"ss03" : alternate stylistic set 3 
"ss04" : alternate stylistic set 4 
"ss05" : alternate stylistic set 5 

// Numeric Extras
"zero" : slashed-zero 
"nalt" : alternate annotation 

The following OT Features are either/or rather than single choices, so require some 'if/else' logic
// Number Case
"ncase" : number case
		0: default
		lnum: lining figures
		onum: old style figures

// Number Spacing
"nspace": number spacing
		0: default
		pnum: proportional spacing
		tnum: tabuplar spacing

"frac"	: fractions
		0: off
		frac: normal fractions
		afrc: alternate fractions
*/
/* Import _base.scss variables */
/* Set theme variables here */
/*
font-family: 'Roboto Slab', serif;
font-family: 'PT Sans', sans-serif;
*/
/* fallback font tweaks should be done in _rwt_scaffold - not worth putting variables in here for that */
/* 400px */
/* 700px */
/* 900px */
/* 1300px */
/* This mixin is meant to help enable/disable OpenType features in your web pages with web fonts that support them */
/*
OpenType Features Key
@mixin otfeatures($c2sc: 0, $calt: 0, $clig: 0, $dlig: 0, $frac: 0, $hist: 0, $hlig: 0, $kern: 0, $liga: 0, $nalt: 0, $ncase: 0, $nspace: 0, $salt: 0, $ss01: 0, $ss02: 0, $ss03: 0, $ss04: 0, $ss05: 0, $swsh: 0, $zero: 0)

// Ligatures 
"liga" : common ligatures 
"dlig" : discretionary ligatures 
"clig" : contextual ligatures 
"hlig" : historical ligatures 

// Alternate Characters
"swsh" : swashes 
"calt" : contextual alternates 
"hist" : historical character alternatives 
"salt" : stylistic alternatives 

// Kerning
"kern" : enable use of embedded kerning table 

// Letter Case
"smcp" : small caps 
"c2sc" : small caps from caps 

// Stylistic Alternates
"ss01" : alternate stylistic set 1 
"ss02" : alternate stylistic set 2  
"ss03" : alternate stylistic set 3 
"ss04" : alternate stylistic set 4 
"ss05" : alternate stylistic set 5 

// Numeric Extras
"zero" : slashed-zero 
"nalt" : alternate annotation 

The following OT Features are either/or rather than single choices, so require some 'if/else' logic
// Number Case
"ncase" : number case
		0: default
		lnum: lining figures
		onum: old style figures

// Number Spacing
"nspace": number spacing
		0: default
		pnum: proportional spacing
		tnum: tabuplar spacing

"frac"	: fractions
		0: off
		frac: normal fractions
		afrc: alternate fractions
*/
/* This mixin is meant to give a nicer link underline that sits comfortably below the text and uses text shadow to knock out the underline around descenders */
/*
Nice Link Features key
Background Color - defaults to white, needed to blend the text shadow with the background color to create the 'knock-out' effect
$background: #ffffff

Link Color - defaults to blue, needed to match the text and underline colors
$link: #0000ee

*/
/* Type Rendering Mix */
/* set webkit antialiasing specifically for Mac OS */
.tr-coretext {
  /* Add classes here that you want to 'skinny up' when rendered on MacOS and fonts look chunky */
  /* example: */ }

/* helps with fonts that look a bit chunky on MacOS vs other platforms/OS's */
.skinnify {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.unskinnify {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; }

.hyphenate {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }

/******* /HELPERS ********/
/* RWT Scaffold Styles */
html {
  font-size: 100%; }

/* CONSIDERATIONS */
/* 
	When working across breakpoints and with/without web fonts, be sure to think about:
		font-size
		letter-spacing
		line-height
		margin-top
		margin-bottom	
*/
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1em; }

p {
  color: #585855;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1em;
  letter-spacing: normal;
  line-height: 1.4375;
  -webkit-transition: font-size 0.2s ease-in-out;
  -moz-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out; }
@media (min-width: 25em) {
  p {
    font-size: 1em; } }
@media (min-width: 43.75em) {
  p {
    font-size: 1em; } }
@media (min-width: 56.25em) {
  p {
    font-size: 1em; } }
@media (min-width: 81.25em) {
  p {
    font-size: 1.125em;
    line-height: 1.33333; } }
.wf-inactive p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.985em;
  word-spacing: 0.07em; }
.wf-inactive.uncorrected p {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit; }

ul {
  color: #585855;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

h1 {
  color: #585855;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: normal;
  line-height: 1.25;
  margin-top: 0.9375em;
  margin-bottom: 0.3125em;
  margin-left: 0;
  margin-right: 0;
  -moz-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -moz-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -webkit-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -ms-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -o-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0; }
@media (min-width: 25em) {
  h1 {
    font-size: 2.25em;
    letter-spacing: normal;
    line-height: 1.11111;
    margin-top: 0.83333em;
    margin-bottom: 0.27778em; } }
@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    letter-spacing: normal;
    line-height: 1.125;
    margin-top: 0.75em;
    margin-bottom: 0.5em; } }
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    letter-spacing: normal;
    line-height: 1.04167;
    margin-top: 1.04167em;
    margin-bottom: 0.41667em; } }
@media (min-width: 81.25em) {
  h1 {
    font-size: 3.55556em;
    letter-spacing: normal;
    line-height: 1.0625;
    margin-top: 0.9375em;
    margin-bottom: 0.46875em; } }
.wf-inactive h1 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
@media (min-width: 56.25em) {
  .wf-inactive h1 {
    font-size: 2.95em;
    letter-spacing: -0.025em;
    margin-top: 1.04167em;
    margin-bottom: 0.47917em; } }

h2 {
  color: #585855;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.625em;
  letter-spacing: normal;
  line-height: 1.15385;
  margin-top: 0.76923em;
  margin-bottom: 0.38462em;
  margin-left: 0;
  margin-right: 0;
  -moz-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -moz-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -webkit-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -ms-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -o-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0; }
@media (min-width: 25em) {
  h2 {
    font-size: 1.75em;
    letter-spacing: normal;
    line-height: 1.21429;
    margin-top: 0.71429em;
    margin-bottom: 0.35714em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    letter-spacing: normal;
    line-height: 1.25;
    margin-top: 0.625em;
    margin-bottom: 0.3125em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    letter-spacing: normal;
    line-height: 1.16667;
    margin-top: 0.83333em;
    margin-bottom: 0.55556em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 81.25em) {
  h2 {
    font-size: 2.22222em;
    letter-spacing: normal;
    line-height: 1.2;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0; } }
.wf-inactive h2 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
@media (min-width: 56.25em) {
  .wf-inactive h2 {
    margin-top: 0.77778em;
    margin-bottom: 0.61111em; } }
@media (min-width: 81.25em) {
  .wf-inactive h2 {
    margin-top: 0.7em;
    margin-bottom: 0.55em; } }

h3 {
  color: #585855;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.3125em;
  letter-spacing: normal;
  line-height: 1.14286;
  margin-top: 0.95238em;
  margin-bottom: 0.47619em;
  margin-left: 0;
  margin-right: 0;
  -moz-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -moz-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -webkit-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  -ms-font-feature-settings: "c2sc=0", "calt=0", "clig=0", "dlig=1", "frac=0", "hist=0", "hlig=0", "kern= 1", "liga=1", "nalt=0", "salt=0", "smcp=0", "ss01=0", "ss02=0", "ss03=0", "ss04=0", "ss05=0", "swsh=0", "zero=0",  "snum=0";
  -o-font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0;
  font-feature-settings: "c2sc" 0, "calt" 0, "clig" 0, "dlig" 1, "frac" 0, "hist" 0, "hlig" 0, "kern" 1, "liga" 1, "nalt" 0, "salt" 0, "smcp" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "swsh" 0, "zero" 0,   "snum" 0; }
@media (min-width: 25em) {
  h3 {
    font-size: 1.5em;
    letter-spacing: normal;
    line-height: 1.16667;
    margin-top: 0.83333em;
    margin-bottom: 0.41667em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 43.75em) {
  h3 {
    font-size: 1.75em;
    letter-spacing: normal;
    line-height: 1.14286;
    margin-top: 0.71429em;
    margin-bottom: 0.35714em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.875em;
    letter-spacing: normal;
    line-height: 1.2;
    margin-top: 0.66667em;
    margin-bottom: 0.33333em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 81.25em) {
  h3 {
    font-size: 1.77778em;
    letter-spacing: normal;
    line-height: 1.25;
    margin-top: 0.625em;
    margin-bottom: 0.3125em;
    margin-left: 0;
    margin-right: 0; } }
.wf-inactive h3 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
@media (min-width: 56.25em) {
  .wf-inactive h3 {
    letter-spacing: -0.0075em; } }

h4 {
  color: #585855;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.125em;
  letter-spacing: normal;
  line-height: 1.22222;
  margin-top: 0.83333em;
  margin-bottom: 0.27778em;
  margin-left: 0;
  margin-right: 0; }
@media (min-width: 25em) {
  h4 {
    font-size: 1.125em;
    letter-spacing: normal;
    line-height: 1.22222;
    margin-top: 0.83333em;
    margin-bottom: 0.27778em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 43.75em) {
  h4 {
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1.2;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 56.25em) {
  h4 {
    font-size: 1.375em;
    letter-spacing: normal;
    line-height: 1.18182;
    margin-top: 0.68182em;
    margin-bottom: 0.22727em;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 81.25em) {
  h4 {
    font-size: 1.33333em;
    letter-spacing: normal;
    line-height: 1.16667;
    margin-top: 0.625em;
    margin-bottom: 0.20833em;
    margin-left: 0;
    margin-right: 0; } }
.wf-inactive h4 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
@media (min-width: 56.25em) {
  .wf-inactive h4 {
    letter-spacing: -0.035em;
    font-size: 1.35em; } }

h5 {
  color: #585855;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
.wf-inactive h5 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

h6 {
  color: #585855;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
.wf-inactive h6 {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

p {
  margin: 0 auto 1em auto;
  max-width: 40em; }

a {
  display: inline-block;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }
a:link {
  color: #ff2961; }
a:visited {
  color: #80005b; }
a:hover {
  color: #54b9c9; }
a:focus {
  color: #54b9c9; }
a:active {
  color: #54b9c9; }

/* Initial Cap styles */
.article-text > p:first-of-type:first-letter, .lt-ie9 .article-text h2 + p:first-letter {
  font-size: 3em;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  line-height: 0.9em;
  float: left;
  padding-right: 0.1em; }
.wf-inactive .article-text > p:first-of-type:first-letter, .wf-inactive .lt-ie9 .article-text h2 + p:first-letter, .lt-ie9 .article-text .wf-inactive h2 + p:first-letter {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 2.75em;
  padding-right: 0.05em; }

/* To work in older versions of IE you have to target an adjacent selector because first-of-type doesn't work */
.layout-content {
  padding: 0 0.5em; }

.layout-sidebar-first {
  padding: 0 0.5em; }

.layout-sidebar-second {
  padding: 0 0.5em; }

.layout-container > header, .layout-container .nav-region, .layout-container .region-breadcrumb, .layout-container .region-highlighted, .layout-container > footer {
  padding: 0 0.5em; }

@media screen and (min-width: 25em) {
  main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 98%; }
  main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

  .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 0 0.75em; }
  .layout-content:last-child {
    margin-right: 0; }

  .layout-sidebar-first {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 0 0.75em; }
  .layout-sidebar-first:last-child {
    margin-right: 0; }

  .layout-sidebar-second {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 0 0.75em; }
  .layout-sidebar-second:last-child {
    margin-right: 0; }

  .layout-container > header, .layout-container .nav-region, .layout-container .region-breadcrumb, .layout-container .region-highlighted, .layout-container > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
    padding: 0 0.75em; } }
@media screen and (min-width: 43.75em) {
  .layout-no-sidebars main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%; }
  .layout-no-sidebars main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-no-sidebars .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 0 1em; }
  .layout-no-sidebars .layout-content:last-child {
    margin-right: 0; }

  .layout-two-sidebars main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%; }
  .layout-two-sidebars main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-two-sidebars .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    margin-left: 33.33333%;
    padding: 0 1em; }
  .layout-two-sidebars .layout-content:last-child {
    margin-right: 0; }
  .layout-two-sidebars .layout-sidebar-first {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    margin-left: -100%;
    padding: 0 1em; }
  .layout-two-sidebars .layout-sidebar-first:last-child {
    margin-right: 0; }
  .layout-two-sidebars .layout-sidebar-second {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: 0;
    padding: 0 1em; }
  .layout-two-sidebars .layout-sidebar-second:last-child {
    margin-right: 0; }

  .layout-one-sidebar.layout-has-sidebar-first main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%; }
  .layout-one-sidebar.layout-has-sidebar-first main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    margin-left: 33.33333%;
    padding: 0 1em; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-content:last-child {
    margin-right: 0; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-sidebar-first {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    margin-left: -100%;
    padding: 0 1em; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-sidebar-first:last-child {
    margin-right: 0; }

  .layout-one-sidebar.layout-has-sidebar-second main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%; }
  .layout-one-sidebar.layout-has-sidebar-second main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 66.66667%;
    margin-left: 0%;
    padding: 0 1em; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-content:last-child {
    margin-right: 0; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-sidebar-second {
    float: right;
    display: block;
    margin-left: 0%;
    width: 33.33333%;
    margin-left: 0;
    padding: 0 1em; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-sidebar-second:last-child {
    margin-left: 0; }

  .layout-container > header, .layout-container .nav-region, .layout-container .region-breadcrumb, .layout-container .region-highlighted, .layout-container > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
    padding: 0 1em; } }
@media screen and (min-width: 56.25em) {
  .layout-no-sidebars main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
  .layout-no-sidebars main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-no-sidebars .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 0 1.25em; }
  .layout-no-sidebars .layout-content:last-child {
    margin-right: 0; }

  .layout-two-sidebars main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
  .layout-two-sidebars main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-two-sidebars .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 25%;
    padding: 0 1.25em; }
  .layout-two-sidebars .layout-content:last-child {
    margin-right: 0; }
  .layout-two-sidebars .layout-sidebar-first {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    margin-left: -75%;
    padding: 0 1.25em; }
  .layout-two-sidebars .layout-sidebar-first:last-child {
    margin-right: 0; }
  .layout-two-sidebars .layout-sidebar-second {
    float: right;
    display: block;
    margin-left: 0%;
    width: 25%;
    margin-left: 0;
    padding: 0 1.25em; }
  .layout-two-sidebars .layout-sidebar-second:last-child {
    margin-left: 0; }

  .layout-one-sidebar.layout-has-sidebar-first main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
  .layout-one-sidebar.layout-has-sidebar-first main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 75%;
    margin-left: 25%;
    padding: 0 1.25em; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-content:last-child {
    margin-right: 0; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-sidebar-first {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    margin-left: -100%;
    padding: 0 1.25em; }
  .layout-one-sidebar.layout-has-sidebar-first .layout-sidebar-first:last-child {
    margin-right: 0; }

  .layout-one-sidebar.layout-has-sidebar-second main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
  .layout-one-sidebar.layout-has-sidebar-second main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-content {
    float: left;
    display: block;
    margin-right: 0%;
    width: 75%;
    margin-left: 0%;
    padding: 0 1.25em; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-content:last-child {
    margin-right: 0; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-sidebar-second {
    float: right;
    display: block;
    margin-left: 0%;
    width: 25%;
    margin-left: 0;
    padding: 0 1.25em; }
  .layout-one-sidebar.layout-has-sidebar-second .layout-sidebar-second:last-child {
    margin-left: 0; }

  .layout-container > header, .layout-container .nav-region, .layout-container .region-breadcrumb, .layout-container .region-highlighted, .layout-container > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding: 0 1.25em; } }
.nav-region {
  background-color: #fafafa;
  position: relative; }

body:before {
  content: "smallscreen";
  position: absolute;
  top: -999em;
  left: -999em;
  speak: none; }

@media screen and (min-width: 25em) {
  body:before {
    content: "mediumscreen"; } }
@media screen and (min-width: 43.75em) {
  body:before {
    content: "largescreen"; } }
@media screen and (min-width: 56.25em) {
  body:before {
    content: "widescreen"; } }
.nav-menu-toggle {
  border: 1px solid #ff2961;
  border-radius: 0.15em;
  display: block;
  font-weight: normal;
  padding: 0.2em 0.35em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: -3em;
  width: 5em; }
@media screen and (min-width: 43.75em) {
  .nav-menu-toggle {
    display: none; } }
.nav-menu-toggle:link, .nav-menu-toggle:visited {
  color: #ff2961; }
.nav-menu-toggle:hover {
  border-color: #54b9c9;
  color: #54b9c9; }

.main-nav {
  display: none; }
@media screen and (min-width: 43.75em) {
  .main-nav {
    display: inline-block;
    margin-top: 0;
    float: none;
    padding-top: 0; } }
.main-nav[aria-expanded="true"] {
  display: block; }

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.4; }
.nav-menu > ul {
  margin: 0;
  padding: 0; }
.nav-menu > ul .children {
  margin: 0;
  padding: 0 0 0 1em; }
.nav-menu > ul .children a {
  padding-left: 0;
  padding-right: 0; }
@media screen and (min-width: 43.75em) {
  .nav-menu > ul .children .children > li {
    padding-left: 0.75em; } }

.menu-item, .page_item {
  margin: 0;
  border-top: 1px solid #828282;
  overflow: hidden;
  padding: 1em 0; }
.nav-menu .menu-item:first-child, .nav-menu .page_item:first-child {
  border-top: none; }
@media screen and (min-width: 43.75em) {
  .menu-item, .page_item {
    border-top: 0;
    padding: 0;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    overflow: visible; } }
.menu-item a, .page_item a {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-weight: 400;
  padding: 0 0.75em;
  border-bottom: 0;
  -webkit-transition: background linear 0.15s;
  -moz-transition: background linear 0.15s;
  transition: background linear 0.15s; }
@media screen and (min-width: 43.75em) {
  .menu-item a, .page_item a {
    padding: 0.65em 1em; } }
.menu-item:hover > a, .menu-item:focus > a, .menu-item.child-has-focus > a, .page_item:hover > a, .page_item:focus > a, .page_item.child-has-focus > a {
  font-weight: 700; }
@media screen and (min-width: 43.75em) {
  .menu-item:hover > a, .menu-item:focus > a, .menu-item.child-has-focus > a, .page_item:hover > a, .page_item:focus > a, .page_item.child-has-focus > a {
    font-weight: 400;
    background: #4a4a4a;
    -webkit-box-shadow: 0 3px 0 0 #171717;
    -moz-box-shadow: 0 3px 0 0 #171717;
    box-shadow: 0 3px 0 0 #171717;
    color: #ffffff; } }
.menu-item:hover .sub-menu, .menu-item:hover .children, .menu-item:focus .sub-menu, .menu-item:focus .children, .menu-item.child-has-focus .sub-menu, .menu-item.child-has-focus .children, .page_item:hover .sub-menu, .page_item:hover .children, .page_item:focus .sub-menu, .page_item:focus .children, .page_item.child-has-focus .sub-menu, .page_item.child-has-focus .children {
  top: 100%;
  left: 0;
  margin-right: -1px; }
.menu-item:hover .sub-menu a, .menu-item:hover .children a, .menu-item:focus .sub-menu a, .menu-item:focus .children a, .menu-item.child-has-focus .sub-menu a, .menu-item.child-has-focus .children a, .page_item:hover .sub-menu a, .page_item:hover .children a, .page_item:focus .sub-menu a, .page_item:focus .children a, .page_item.child-has-focus .sub-menu a, .page_item.child-has-focus .children a {
  font-weight: 400;
  color: #4a4a4a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.menu-item:hover .sub-menu a:hover, .menu-item:hover .sub-menu a:focus, .menu-item:hover .children a:hover, .menu-item:hover .children a:focus, .menu-item:focus .sub-menu a:hover, .menu-item:focus .sub-menu a:focus, .menu-item:focus .children a:hover, .menu-item:focus .children a:focus, .menu-item.child-has-focus .sub-menu a:hover, .menu-item.child-has-focus .sub-menu a:focus, .menu-item.child-has-focus .children a:hover, .menu-item.child-has-focus .children a:focus, .page_item:hover .sub-menu a:hover, .page_item:hover .sub-menu a:focus, .page_item:hover .children a:hover, .page_item:hover .children a:focus, .page_item:focus .sub-menu a:hover, .page_item:focus .sub-menu a:focus, .page_item:focus .children a:hover, .page_item:focus .children a:focus, .page_item.child-has-focus .sub-menu a:hover, .page_item.child-has-focus .sub-menu a:focus, .page_item.child-has-focus .children a:hover, .page_item.child-has-focus .children a:focus {
  font-weight: 700; }

.ui-toggle-button {
  padding: 0;
  margin: 0.25em;
  border: 0;
  box-shadow: none;
  float: right;
  font-weight: 400; }
.ui-toggle-button:hover, .ui-toggle-button:focus, .ui-toggle-button:active {
  box-shadow: none;
  background: none;
  color: #000000; }

.sub-menu, .children {
  padding: 0;
  margin: 0;
  margin: 0.75em 0 0 0;
  list-style: none;
  clear: both; }
.footer .sub-menu, .footer .children {
  display: none; }
@media screen and (min-width: 43.75em) {
  .sub-menu, .children {
    position: absolute;
    top: -999em;
    left: -999em;
    font-size: 14px;
    font-size: 0.875rem;
    width: 12.5em;
    margin-top: 0;
    padding: 0.25em 0;
    background: #ffffff;
    border: 1px solid #828282; } }
.sub-menu > .menu-item, .sub-menu .page_item, .children > .menu-item, .children .page_item {
  border: 0;
  padding: 0;
  display: block; }
.sub-menu > .menu-item a, .sub-menu .page_item a, .children > .menu-item a, .children .page_item a {
  display: block;
  padding: 0.75em 1em; }
@media screen and (min-width: 43.75em) {
  .sub-menu > .menu-item a, .sub-menu .page_item a, .children > .menu-item a, .children .page_item a {
    padding: 0.25em 1em;
    background: none; } }
.sub-menu[aria-expanded="false"], .children[aria-expanded="false"] {
  display: none; }

.account-nav {
  display: block;
  float: right;
  margin-top: 0; }
@media screen and (min-width: 43.75em) {
  .account-nav {
    margin-bottom: 1em; } }
.account-nav .menu-item {
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
.account-nav .menu-item a {
  padding: 0 0.35em; }

.messages {
  background: no-repeat 0.75em 1em;
  /* LTR */
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  /* LTR */
  border-radius: 2px;
  padding: 1em 1.25em 1em 2.25em;
  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word; }

[dir="rtl"] .messages {
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
  padding-left: 1.25em;
  padding-right: 2.25em;
  text-align: right; }

.messages + .messages {
  margin-top: 1.538em; }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.messages__item + .messages__item {
  margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  /* LTR */
  background-image: url(../../core/misc/icons/73b355/check.svg);
  box-shadow: -0.5em 0 0 #77b259;
  /* LTR */ }

[dir="rtl"] .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 0.5em 0 0 #77b259;
  margin-left: 0; }

/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fdf8ed;
  background-image: url(../../core/misc/icons/e29700/warning.svg);
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  /* LTR */
  color: #734c00;
  box-shadow: -0.5em 0 0 #e09600;
  /* LTR */ }

[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 0.5em 0 0 #e09600; }

/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../../core/misc/icons/e32700/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  /* LTR */
  box-shadow: -0.5em 0 0 #e62600;
  /* LTR */ }

[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 0.5em 0 0 #e62600; }

.messages--error p.error {
  color: #a51b00; }

.breadcrumbs ol {
  list-style: none;
  list-style-image: none; }
.breadcrumbs li {
  display: inline-block;
  list-style: none; }
.breadcrumbs li:before {
  content: ' / ';
  display: inline; }
.breadcrumbs li:first-child:before {
  content: ''; }

/* form elements adapted from Bootstrap */
.form-item label {
  display: block;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-weight: 500; }
.form-item input[type="checkbox"] + label, .form-item input[type="radio"] + label {
  display: inline;
  font-weight: 200; }

.marker, .form-required {
  color: #c1d4d5; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  box-sizing: inherit;
  display: inline-block;
  height: 2em;
  width: 100%;
  padding: .35em .5em;
  margin-bottom: .25em;
  font-size: 1em;
  line-height: 1.5em;
  color: #4a4a4a;
  vertical-align: middle;
  border-radius: .35em;
  font-family: "PT Sans", Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
@media screen and (min-width: 43.75em) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    width: 100%; } }

input[type="password"] {
  font-family: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

textarea {
  height: auto; }
@media screen and (min-width: 43.75em) {
  textarea {
    width: 100%; } }

@media screen and (min-width: 43.75em) {
  .form-textarea-wrapper {
    width: 100%; } }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  -webkit-transition: border 0.2s linear 0, box-shadow 0.2s linear 0;
  -moz-transition: border 0.2s linear 0, box-shadow 0.2s linear 0;
  transition: border 0.2s linear 0, box-shadow 0.2s linear 0; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #c1d4d5;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  box-shadow: 0 1px 1px #fff inset, 0 0 8px #ababab; }

input[type="submit"] {
  display: inline-block;
  *display: inline;
  padding: .5em 1em;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 1em;
  line-height: 1.25em;
  *line-height: 1.25em;
  color: #4a4a4a;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  vertical-align: middle;
  cursor: pointer;
  background-color: #ababab;
  *background-color: #ababab;
  background-image: -webkit-linear-gradient(#efefef, #ababab);
  background-image: linear-gradient(#efefef, #ababab);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #ababab #ababab #898989;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-top-color: #eaeaea;
  border-bottom-color: #a2a2a2;
  border-radius: 0.35em;
  *zoom: 1;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: background-image 0.2s linear 0;
  -moz-transition: background-image 0.2s linear 0;
  transition: background-image 0.2s linear 0; }

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"].active, input[type="submit"].disabled {
  color: #4a4a4a;
  background-color: #ababab;
  *background-color: #ababab; }

input[type="submit"]:active, input[type="submit"].active {
  background-color: #cccccc \9; }

input[type="submit"]:first-child {
  *margin-left: 0; }

input[type="submit"]:hover {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: #ababab;
  *background-color: #ababab;
  background-image: -webkit-linear-gradient(#ababab, #898989);
  background-image: linear-gradient(#ababab, #898989);
  /* Buttons in IE7 don't get borders, so darken on hover */ }

input[type="submit"]:focus {
  outline: thin dotted #4a4a4a;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="submit"].active, input[type="submit"]:active {
  background-color: #ababab;
  background-color: #ababab \9;
  background-image: none;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.tabs {
  list-style: none;
  list-style-image: none;
  margin: 0 0 1em 0;
  padding: 0; }
.tabs li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
.tabs li:first-child a {
  border-left: none;
  -webkit-border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  border-radius: 0.25em 0 0 0.25em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
.tabs li:last-child a {
  border-right: none;
  -webkit-border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  border-radius: 0 0.25em 0.25em 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
.tabs a {
  border-left: solid 1px #c5c5c5;
  border-right: solid 1px #929292;
  margin: 0;
  padding: 0.15em 0.35em; }
.tabs a:link {
  background-color: #ababab;
  color: #ffffff;
  text-decoration: none; }
.tabs a:visited {
  background-color: #ababab;
  color: #ffffff;
  text-decoration: none; }
.tabs a:hover {
  background-color: #828282;
  color: #ffffff;
  text-decoration: none; }
.tabs a.is-active {
  background-color: #4a4a4a;
  color: #ffffff;
  text-decoration: none; }

.block {
  padding-bottom: 1em; }
.block.block-core {
  padding-bottom: 0; }

@media screen and (min-width: 43.75em) {
  .branding-block {
    float: left; } }
.branding-block .site-name {
  font-size: 1.5em;
  margin: 0 0 0.5em 0; }
@media screen and (min-width: 43.75em) {
  .branding-block .site-name {
    margin-top: 1em;
    margin-bottom: 0.25em; } }

.search-block-form {
  clear: right;
  float: right;
  margin-bottom: 1em;
  min-width: 14em;
  text-align: right;
  width: 35%; }
.search-block-form input[type="search"] {
  width: 10em; }
.search-block-form .form-item {
  display: inline-block; }
.search-block-form .form-actions {
  display: inline-block; }
.search-block-form input[type="search"] {
  margin-bottom: 0; }
.search-block-form input[type="submit"] {
  padding: 0.25em 0.35em; }

.block-page-title-block h1 {
  margin-top: 0; }

/* footer elements  */
.layout-container > footer {
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
.layout-container > footer a:link {
  color: #fff; }
.layout-container > footer a:visited {
  color: #fff; }
.layout-container > footer a:hover {
  color: #f0f0f0; }
.layout-container > footer aactive {
  color: #f0f0f0; }

/*# sourceMappingURL=main.css.map */
