/* apply a natural box layout model to all elements, but allowing components to change */

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

[aria-hidden=true] {
  display: none !important;
}
