// Helper classes

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.outline {
	border: solid 1px $color-gray-light;
}

.one-quarter {
	width: (100 / 4) * 1%;
	float: left;
}

.one-third {
	width: (100 / 3) * 1%;
	float: left;
}

.one-half {
	width: (100 / 2) * 1%;
	float: left;
}

.one-sixth {
	width: (100 / 6) * 1%;
	float: left;
}
