// Move element off screen

@mixin move-off-screen () {
  position: absolute;
  top: -999em;
  left: -999em;
}

@mixin is-uppercase () {
  text-transform: uppercase;
  letter-spacing: .02em;
}

@mixin is-clean () {
  padding: 0;
  margin: 0;
}

@mixin visually-hidden () {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute !important;
}

// Move text off screen 

@mixin replace-text () {
  text-indent: -9999px;
  overflow: hidden;
}

// Fix inline-block cross browser

@mixin inline-block( $vertical-align: baseline ) {
  display: inline-block;
  vertical-align: $vertical-align;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

// New hotness clearfix

@mixin clearfix () {
  *zoom: 1;
  clear: both;
  
  &:before, &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

// font size to REM

@mixin font-size ($size: 14, $parentSize: 16) {
  font-size: $size + 0px;
  font-size: 0rem + $size/$parentSize;
}

// Vendor prefix'd helpers

@mixin border-radius ( $values ) {
  -webkit-border-radius: $values;
     -moz-border-radius: $values;
          border-radius: $values;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding; 
          background-clip: padding-box;
}

@mixin box-shadow ( $values ) {
  -webkit-box-shadow: $values;
     -moz-box-shadow: $values;
          box-shadow: $values;
}

@mixin box-sizing ( $values ) {
  -webkit-box-sizing: $values;
     -moz-box-sizing: $values;
          box-sizing: $values;
}

@mixin text-rendering ( $string ) {
  -webkit-text-rendering: $string;
     -moz-text-rendering: $string;
          text-rendering: $string;
}

@mixin transform ( $values ) {
  -webkit-transform: $values;
     -moz-transform: $values;
      -ms-transform: $values;
          transform: $values;
}

/*
@mixin transition ( $values ) {
  -webkit-transition: $values;
     -moz-transition: $values;
      -ms-transition: $values;
          transition: $values;
}
*/

@mixin gradient-linear ( $start, $end ) {
  background: $start;
  background: -moz-linear-gradient(top,  $start 0%, $end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end));
  background: -webkit-linear-gradient(top,  $start 0%,$end 100%);
  background: -o-linear-gradient(top,  $start 0%,$end 100%);
  background: -ms-linear-gradient(top,  $start 0%,$end 100%);
  background: linear-gradient(to bottom,  $start 0%,$end 100%);
}

// ----------------------------------------------------------------------------
//  CSS Triangles
// ----------------------------------------------------------------------------

@mixin triangle($tri-size, $tri-color, $tri-direction) {
  border: inset $tri-size;
  content: '';
  display: block;
  height: 0;
  width: 0;

  @if ($tri-direction == top) {
    border-color: $tri-color transparent transparent transparent;
    border-top-style: solid;
  }

  @if ($tri-direction == bottom) {
    border-color: transparent transparent $tri-color transparent;
    border-bottom-style: solid;
  }

  @if ($tri-direction == left) {
    border-color: transparent transparent transparent $tri-color;
    border-left-style: solid;
  }

  @if ($tri-direction == right) {
    border-color: transparent $tri-color transparent transparent;
    border-right-style: solid;
  }
}

// Example:
// ----------------------------------------------------------------------------
// @include triangle(5px, #fff, bottom);
