// Color setup for theme regions

// Page 
body {
	background-color: $background-color-body;
}

.layout-container {
	background-color: $background-color-page;
	> header {
		background-color: $background-color-header;
	}
	> main {
		background-color: $background-color-main;
	}
	> footer {
		background-color: $background-color-footer;
	}
}

.region-primary-menu {
	background-color: $nav-region-background;
	.block-menu {
		background-color: $nav-block-background;
	}
}

.layout-content {
	background-color: $background-color-main;
}

.layout-sidebar-first {
	background-color: $background-color-sidebar-first;
}

.layout-sidebar-second {
	background-color: $background-color-sidebar-second;
}