// Mobile-first media query helper
@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

// Clearfix helper
@mixin clearfix() {
  &:after {
    content: ".";  
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

