// Other typography is set in rwt_scaffold/_rwt_base.scss

$base-font-size:   16; // The font size set on the root html element.
$base-line-height: 1.5; // This line-height determines the basic unit of vertical rhythm.

$sans-serif-fallback: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif-fallback: Georgia, "Times New Roman", Times, serif;

$sans-serif: 'PT Sans', $sans-serif-fallback;
$serif: 'Roboto Slab', $serif-fallback;



// Color
$color-red: #ff2961;
$color-red-blue-blend: #80005b;
$color-blue: #54b9c9;
$color-bluegreen: #155d68;
$color-bluegreen-lt: #c1d4d5;
$color-orange: #e75424;
$color-gold: #b38c4a;
$color-warmgray: #dad4be;


$color-white: #ffffff;
$color-gray: #4a4a4a;
$color-gray-med: #828282;
$color-gray-light: #ababab;
$color-gray-lighter: #f0f0f0;
$color-gray-dark: #585855;
$color-gray-darker: #242424;
$color-black: #000000;

$color-messages-status: #c9e1bd;
$color-messages-warning: #ffffdd;
$color-messages-error: #ffdddd;

$background-color-body: $color-gray-lighter;
$background-color-page: transparent;
$background-color-header: #fff;
$background-color-main: #fff;
$background-color-sidebar-first: #fff;
$background-color-sidebar-second: #fff;
$background-color-footer: $color-gray-darker;

$offcanvas-body: $color-gray-dark;
$offcanvas-nav-color-link: #fff;
$offcanvas-nav-color-hover: $color-blue;
$offcanvas-nav-divider: lighten($color-gray, 15%);

$nav-region-background: #fff;
$nav-block-background: transparent;
$nav-background: #fff;
$nav-background-hover: $color-red;
$nav-background-active: $color-red;
$nav-color-link: $color-gray;
$nav-color-visited: $color-gray;
$nav-color-hover: #fff;
$nav-color-active: #fff;

/* new color variables */
$color-text: $color-gray-dark; 
$color-header: $color-gray-dark;
$color-footer: #ffffff;

$link-color-link: $color-red;
$link-color-visited: $color-red-blue-blend;
$link-color-hover: $color-blue;
$link-color-active: $color-blue;
$link-color-focus: $color-blue;
/* end new color vars */


$color-header-link: $color-red;
$color-header-visited: $color-red;
$color-header-hover: $color-blue;
$color-header-active: $color-blue;

$color-footer-link: #fff;
$color-footer-visited: #fff;
$color-footer-hover: $color-gray-lighter;
$color-footer-active: $color-gray-lighter;


//
// Media Query breakpoints
//
$mq-s-tab: 25em; /* 400px */
$mq-l-tab: 43.75em; /* 700px */
$mq-desk: 56.25em; /* 900px */
$mq-m-desk: 68.75em; /* 1100px */
$mq-l-desk: 81.25em; /* 1300px */

// MQ translation for FTS Nav

$bp-wide: $mq-m-desk;
$bp-large: $mq-desk;
$bp-medium: $mq-l-tab;
$bp-small: $mq-s-tab;


//
// Other variables
//

$btn-base: $color-gray-light; 
$btn-base-lt: $btn-base + #444;
$btn-base-dk: $btn-base - #222;



