/* Import _base.scss variables */
@import "rwt_base";



/* Type Rendering Mix */

/* set webkit antialiasing specifically for Mac OS */
.tr-coretext {
	/* Add classes here that you want to 'skinny up' when rendered on MacOS and fonts look chunky */
	/* example: */
	//h1 {
	//	@extend .skinnify;
	//}
}

/* helps with fonts that look a bit chunky on MacOS vs other platforms/OS's */
.skinnify {
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

.unskinnify {
	-webkit-font-smoothing: auto; 
	-moz-osx-font-smoothing: auto;
}

.hyphenate {
 word-wrap: break-word;
 -webkit-hyphens: auto;

 -moz-hyphens: auto;

 -ms-hyphens: auto;

 -o-hyphens: auto;

 hyphens: auto;
}

/******* /HELPERS ********/


/* RWT Scaffold Styles */
html {
	font-size: 100%;
}

/* CONSIDERATIONS */
/* 
	When working across breakpoints and with/without web fonts, be sure to think about:
		font-size
		letter-spacing
		line-height
		margin-top
		margin-bottom	
*/
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: $sans-serif;
	font-size: 1em;
}

p {
	color: $color-text;
	font-family: $sans-serif; 
	font-size: ($body-copy-size / $text-base-size) * 1em; 
	letter-spacing: normal;
	line-height: ($body-copy-lh / $body-copy-size);
	@include transition(font-size 0.2s ease-in-out);
	@media (min-width: $rwt-mq-s-tab) {
		font-size: ($body-copy-size / $text-base-size) * 1em;
	}
	@media (min-width: $rwt-mq-l-tab) {
		font-size: ($body-copy-size / $text-base-size) * 1em;
	}
	@media (min-width: $rwt-mq-desk) {
		font-size: ($body-copy-size / $text-base-size) * 1em;
	}
	@media (min-width: $rwt-mq-l-desk) {
		font-size: (($body-copy-size-l) / $text-base-size) * 1em;
		line-height: ($body-copy-lh-l / $body-copy-size-l);
	}
	.wf-inactive & {
		font-family: $serif-fallback;
		font-size: 0.985em;
		word-spacing: 0.07em;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
	.wf-inactive.uncorrected & {
		font-size: inherit; 
		line-height: inherit; 
		letter-spacing: inherit;
	}
}

ul {
	color: $color-text;
	font-family: $sans-serif; 
}

h1 {
	color: $color-header;
	font-family: $serif; 
	font-weight: normal; 
	font-size: ($h1-size-p / $body-copy-size) * 1em; 
	letter-spacing: normal;
	line-height: $h1-lh-p;
	margin-top: (30 / $h1-size-p) * 1em;
	margin-bottom: (10 / $h1-size-p) * 1em;
	margin-left: 0;
	margin-right: 0;
	@include otfeatures($liga: 1, $dlig: 1, $kern: 1);
	@media (min-width: $rwt-mq-s-tab) {
		font-size: ($h1-size-s-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h1-lh-s-tab;
		margin-top: (30 / $h1-size-s-tab) * 1em;
		margin-bottom: (10 / $h1-size-s-tab) * 1em;
	}
	@media (min-width: $rwt-mq-l-tab) {
		font-size: ($h1-size-l-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h1-lh-l-tab;
		margin-top: (30 / $h1-size-l-tab) * 1em;
		margin-bottom: (20 / $h1-size-l-tab) * 1em;
	}
	@media (min-width: $rwt-mq-desk) {
		font-size: ($h1-size-desk / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h1-lh-desk;
		margin-top: (50 / $h1-size-desk) * 1em;
		margin-bottom: (20 / $h1-size-desk) * 1em;
	}
	@media (min-width: $rwt-mq-l-desk) {
		font-size: ($h1-size-l-desk / $body-copy-size-l) * 1em; 
		letter-spacing: normal;
		line-height: $h1-lh-l-desk;
		margin-top: (60 / $h1-size-l-desk) * 1em;
		margin-bottom: (30 / $h1-size-l-desk) * 1em;
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			font-size: 2.95em;
			letter-spacing: -0.025em;
			margin-top: (50 / $h1-size-desk) * 1em;
			margin-bottom: (23 / $h1-size-desk) * 1em;
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
}

h2 {
	color: $color-header;
	font-family: $serif; 
	font-weight: normal; 
	font-size: ($h2-size-p / $body-copy-size) * 1em; 
	letter-spacing: normal;
	line-height: $h2-lh-p;
	margin-top: (20 / $h2-size-p) * 1em;
	margin-bottom: (10 / $h2-size-p) * 1em;
	margin-left: 0;
	margin-right: 0;
	@include otfeatures($liga: 1, $dlig: 1, $kern: 1);
	@media (min-width: $rwt-mq-s-tab) {
		font-size: ($h2-size-s-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h2-lh-s-tab;
		margin-top: (20 / $h2-size-s-tab) * 1em;
		margin-bottom: (10 / $h2-size-s-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-tab) {
		font-size: ($h2-size-l-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h2-lh-l-tab;
		margin-top: (20 / $h2-size-l-tab) * 1em;
		margin-bottom: (10 / $h2-size-l-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-desk) {
		font-size: ($h2-size-desk / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h2-lh-desk;
		margin-top: (30 / $h2-size-desk) * 1em;
		margin-bottom: (20 / $h2-size-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-desk) {
		font-size: ($h2-size-l-desk / $body-copy-size-l) * 1em; 
		letter-spacing: normal;
		line-height: $h2-lh-l-desk;
		margin-top: (30 / $h2-size-l-desk) * 1em;
		margin-bottom: (20 / $h2-size-l-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			margin-top: (28 / $h2-size-desk) * 1em;
			margin-bottom: (22 / $h2-size-desk) * 1em;
		}
		@media (min-width: $rwt-mq-l-desk) {
			margin-top: (28 / $h2-size-l-desk) * 1em;
			margin-bottom: (22 / $h2-size-l-desk) * 1em;
		}
	}
}

h3 {
	color: $color-header;
	font-family: $serif; 
	font-weight: normal;
	font-size: ($h3-size-p / $body-copy-size) * 1em; 
	letter-spacing: normal;
	line-height: $h3-lh-p;
	margin-top: (20 / $h3-size-p) * 1em;
	margin-bottom: (10 / $h3-size-p) * 1em;
	margin-left: 0;
	margin-right: 0;
	@include otfeatures($liga: 1, $dlig: 1, $kern: 1);
	@media (min-width: $rwt-mq-s-tab) {
		font-size: ($h3-size-s-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h3-lh-s-tab;
		margin-top: (20 / $h3-size-s-tab) * 1em;
		margin-bottom: (10 / $h3-size-s-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-tab) {
		font-size: ($h3-size-l-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h3-lh-l-tab;
		margin-top: (20 / $h3-size-l-tab) * 1em;
		margin-bottom: (10 / $h3-size-l-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-desk) {
		font-size: ($h3-size-desk / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h3-lh-desk;
		margin-top: (20 / $h3-size-desk) * 1em;
		margin-bottom: (10 / $h3-size-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-desk) {
		font-size: ($h3-size-l-desk / $body-copy-size-l) * 1em; 
		letter-spacing: normal;
		line-height: $h3-lh-l-desk;
		margin-top: (20 / $h3-size-l-desk) * 1em;
		margin-bottom: (10 / $h3-size-l-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			letter-spacing: -0.0075em;
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
}

h4 {
	color: $color-header;
	font-family: $serif; 
	font-weight: normal;
	font-size: ($h4-size-p / $body-copy-size) * 1em; 
	letter-spacing: normal;
	line-height: $h4-lh-p;
	margin-top: (15 / $h4-size-p) * 1em;
	margin-bottom: (5 / $h4-size-p) * 1em;
	margin-left: 0;
	margin-right: 0;
	@media (min-width: $rwt-mq-s-tab) {
		font-size: ($h4-size-s-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h4-lh-s-tab;
		margin-top: (15 / $h4-size-s-tab) * 1em;
		margin-bottom: (5 / $h4-size-s-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-tab) {
		font-size: ($h4-size-l-tab / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h4-lh-l-tab;
		margin-top: (15 / $h4-size-l-tab) * 1em;
		margin-bottom: (5 / $h4-size-l-tab) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-desk) {
		font-size: ($h4-size-desk / $body-copy-size) * 1em; 
		letter-spacing: normal;
		line-height: $h4-lh-desk;
		margin-top: (15 / $h4-size-desk) * 1em;
		margin-bottom: (5 / $h4-size-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: $rwt-mq-l-desk) {
		font-size: ($h4-size-l-desk / $body-copy-size-l) * 1em; 
		letter-spacing: normal;
		line-height: $h4-lh-l-desk;
		margin-top: (15 / $h4-size-l-desk) * 1em;
		margin-bottom: (5 / $h4-size-l-desk) * 1em;
		margin-left: 0;
		margin-right: 0;
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			letter-spacing: -0.035em;
			font-size: 1.35em
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
}

h5 {
	color: $color-header;
	font-family: $sans-serif; 
	@media (min-width: $rwt-mq-s-tab) {
		
	}
	@media (min-width: $rwt-mq-l-tab) {
		
	}
	@media (min-width: $rwt-mq-desk) {
		
	}
	@media (min-width: $rwt-mq-l-desk) {
		
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
}

h6 {
	color: $color-header;
	font-family: $sans-serif; 
	@media (min-width: $rwt-mq-s-tab) {
		
	}
	@media (min-width: $rwt-mq-l-tab) {
		
	}
	@media (min-width: $rwt-mq-desk) {
		
	}
	@media (min-width: $rwt-mq-l-desk) {
		
	}
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		@media (min-width: $rwt-mq-s-tab) {
			
		}
		@media (min-width: $rwt-mq-l-tab) {
			
		}
		@media (min-width: $rwt-mq-desk) {
			
		}
		@media (min-width: $rwt-mq-l-desk) {
			
		}
	}
}

p {
	margin: 0 auto 1em auto;
	max-width: 40em;
}

a {
	display: inline-block;
	@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out);
	&:link {
		//@include nicelink($link-color-link, $page-background);
		color: $link-color-link;
	}
	&:visited {
		//@include nicelink($link-color-visited, $page-background);
		color: $link-color-visited;
	}
	&:hover {
		//@include nicelink($link-color-hover, $page-background);
		color: $link-color-hover;
	}
	&:focus {
		//@include nicelink($link-color-focus, $page-background);
		color: $link-color-focus;
	}
	&:active {
		//@include nicelink($link-color-active, $page-background);
		color: $link-color-active;
	}
}


/* Initial Cap styles */

%initial_cap {
	font-size: 3em; 
	font-family: $sans-serif;
	line-height: 0.9em; 
	float: left; 
	padding-right: 0.1em; 
	.wf-inactive & {
		font-family: $sans-serif-fallback;
		font-size: 2.75em;
		padding-right: 0.05em;
	}
}
.article-text > p:first-of-type:first-letter {
	@extend %initial_cap;
}

/* To work in older versions of IE you have to target an adjacent selector because first-of-type doesn't work */
.lt-ie9 .article-text h2 + p:first-letter {
	@extend %initial_cap;
}


