/* Set theme variables here */

//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has an import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//
/*
font-family: 'Roboto Slab', serif;
font-family: 'PT Sans', sans-serif;
*/
//
// Font faces, stacks and sizes.
//
$sans-serif-fallback: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif-fallback: Georgia, "Times New Roman", Times, serif;

$sans-serif: 'PT Sans', $sans-serif-fallback;
$serif: 'Roboto Slab', $serif-fallback;

$text-base-size: 16; // use base equivalent pixel size (i.e. 16 for 'default')
$body-copy-size: 16; // adjust this to the equivalent pixel size you'd like for body copy
$body-copy-size-l: 18; // adjust this to the equivalent pixel size you'd like for body copy on larger screens
$body-copy-lh: 23;   // adjust to equivalent pixel value for line height in body copy
$body-copy-lh-l: 24;   // adjust to equivalent pixel value for line height in body copy

// H1 size and line height across major scaling points
$h1-size-p: 32; // equivalent pixel value on phones
$h1-size-s-tab: 36; // equivalent pixel value on smaller tablets
$h1-size-l-tab: 40; // equivalent pixel value on larger tablets
$h1-size-desk: 48; // equivalent pixel value on desktop
$h1-size-l-desk: 64; // equivalent pixel value on large desktop

$h1-lh-p: (40 / $h1-size-p); // equivalent pixel value on phones/small tablets
$h1-lh-s-tab: (40 / $h1-size-s-tab); // equivalent pixel value on smaller tablets
$h1-lh-l-tab: (45 / $h1-size-l-tab); // equivalent pixel value on larger tablets
$h1-lh-desk: (50 / $h1-size-desk); // equivalent pixel value on desktop
$h1-lh-l-desk: (68 / $h1-size-l-desk); // equivalent pixel value on large desktop

// H2 size and line height across major scaling points
$h2-size-p: 26; // equivalent pixel value on phones
$h2-size-s-tab: 28; // equivalent pixel value on smaller tablets
$h2-size-l-tab: 32; // equivalent pixel value on larger tablets
$h2-size-desk: 36; // equivalent pixel value on desktop
$h2-size-l-desk: 40; // equivalent pixel value on large desktop

$h2-lh-p: (30 / $h2-size-p); // equivalent pixel value on phones/small tablets
$h2-lh-s-tab: (34 / $h2-size-s-tab); // equivalent pixel value on smaller tablets
$h2-lh-l-tab: (40 / $h2-size-l-tab); // equivalent pixel value on larger tablets
$h2-lh-desk: (42 / $h2-size-desk); // equivalent pixel value on desktop
$h2-lh-l-desk: (48 / $h2-size-l-desk); // equivalent pixel value on large desktop

// H3 size and line height across major scaling points
$h3-size-p: 21; // equivalent pixel value on phones
$h3-size-s-tab: 24; // equivalent pixel value on smaller tablets
$h3-size-l-tab: 28; // equivalent pixel value on larger tablets
$h3-size-desk: 30; // equivalent pixel value on desktop
$h3-size-l-desk: 32; // equivalent pixel value on large desktop

$h3-lh-p: (24 / $h3-size-p); // equivalent pixel value on phones/small tablets
$h3-lh-s-tab: (28 / $h3-size-s-tab); // equivalent pixel value on smaller tablets
$h3-lh-l-tab: (32 / $h3-size-l-tab); // equivalent pixel value on larger tablets
$h3-lh-desk: (36 / $h3-size-desk); // equivalent pixel value on desktop
$h3-lh-l-desk: (40 / $h3-size-l-desk); // equivalent pixel value on large desktop

// H4 size and line height across major scaling points
$h4-size-p: 18; // equivalent pixel value on phones
$h4-size-s-tab: 18; // equivalent pixel value on smaller tablets
$h4-size-l-tab: 20; // equivalent pixel value on larger tablets
$h4-size-desk: 22; // equivalent pixel value on desktop
$h4-size-l-desk: 24; // equivalent pixel value on large desktop

$h4-lh-p: (22 / $h4-size-p); // equivalent pixel value on phones/small tablets
$h4-lh-s-tab: (22 / $h4-size-s-tab); // equivalent pixel value on smaller tablets
$h4-lh-l-tab: (24 / $h4-size-l-tab); // equivalent pixel value on larger tablets
$h4-lh-desk: (26 / $h4-size-desk); // equivalent pixel value on desktop
$h4-lh-l-desk: (28 / $h4-size-l-desk); // equivalent pixel value on large desktop


/* fallback font tweaks should be done in _rwt_scaffold - not worth putting variables in here for that */

//
// Media Query Breakpoints 
// These values are meant as a starting point but can be adjusted to suit your own layout and should be 
// tweaked to match the rest of your design
//
$rwt-mq-s-tab: 25em; /* 400px */
$rwt-mq-l-tab: 43.75em; /* 700px */
$rwt-mq-desk: 56.25em; /* 900px */
$rwt-mq-l-desk: 81.25em; /* 1300px */


//
// Partials to be shared with all .scss files.
//
//@import "compass/typography";


@import "rwt_otfeatures";		// import OpenType Features mixin
@import "rwt_nicelink";			// import nicelink mixin

