$grid-columns: 12;

// a comment

main {

}
.layout-content {
	@include pad(0 0.5em);
}
.layout-sidebar-first {
	@include pad(0 0.5em);
}
.layout-sidebar-second {
	@include pad(0 0.5em);
}
.layout-container {
	> header, 
	.nav-region,
	.region-breadcrumb, 
	.region-highlighted, 
	> footer {
		@include pad(0 0.5em);
	}
}

@media screen and (min-width: $mq-s-tab) {
	$max-width: 98%;
	main {
		@include outer-container;
		max-width: $max-width;
	}
	.layout-content {
		@include span-columns(12);
		@include pad(0 0.75em);
	}
	.layout-sidebar-first {
		@include span-columns(12);
		@include pad(0 0.75em);
	}
	.layout-sidebar-second {
		@include span-columns(12);
		@include pad(0 0.75em);
	}
	.layout-container {
		> header, 
		.nav-region,
		.region-breadcrumb,
		.region-highlighted, 
		> footer {
			margin-left: auto; 
			margin-right: auto;
			max-width: $max-width;
			@include pad(0 0.75em);
		}
	}
}
@media screen and (min-width: $mq-l-tab) {
	$max-width: 96%;
	.layout-no-sidebars {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(12);
			@include pad(0 1em);
		}
	}
	.layout-two-sidebars {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(8);
			@include shift(4);
			@include pad(0 1em);
		}
		.layout-sidebar-first {
			@include span-columns(4);
			@include shift(-12);
			@include pad(0 1em);
		}
		.layout-sidebar-second {
			@include span-columns(8);
			@include shift(4);
			@include omega();
			@include pad(0 1em);
		}
	}
	.layout-one-sidebar.layout-has-sidebar-first {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(8);
			@include shift(4);
			@include pad(0 1em);
		}
		.layout-sidebar-first {
			@include span-columns(4);
			@include shift(-12);
			@include pad(0 1em);
		}
	}
	.layout-one-sidebar.layout-has-sidebar-second {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(8);
			@include shift(0);
			@include pad(0 1em);
		}
		 @include direction-context(right-to-left) { 
			 .layout-sidebar-second {
				@include span-columns(4);
				@include omega();
				@include pad(0 1em);
			}
		}
	}
	.layout-container {
		> header, 
		.nav-region,
		.region-breadcrumb,
		.region-highlighted, 
		> footer {
			margin-left: auto; 
			margin-right: auto;
			max-width: $max-width;
			@include pad(0 1em);
		}
	}
}
@media screen and (min-width: $mq-desk) {
	$max-width: 90%;
	.layout-no-sidebars {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(12);
			@include pad(0 1.25em);
		}
	}
	.layout-two-sidebars {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(6);
			@include shift(3);
			@include pad(0 1.25em);
		}
		.layout-sidebar-first {
			@include span-columns(3);
			@include shift(-9);
			@include pad(0 1.25em);
		}
		 @include direction-context(right-to-left) { 
			 .layout-sidebar-second {
				@include span-columns(3);
				@include omega();
				@include pad(0 1.25em);
			}
		}
	}
	.layout-one-sidebar.layout-has-sidebar-first {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(9);
			@include shift(3);
			@include pad(0 1.25em);
		}
		.layout-sidebar-first {
			@include span-columns(3);
			@include shift(-12);
			@include pad(0 1.25em);
		}
	}
	.layout-one-sidebar.layout-has-sidebar-second {
		main {
			@include outer-container;
			max-width: $max-width;
		}
		.layout-content {
			@include span-columns(9);
			@include shift(0);
			@include pad(0 1.25em);
		}
		 @include direction-context(right-to-left) { 
			 .layout-sidebar-second {
				@include span-columns(3);
				@include omega();
				@include pad(0 1.25em);
			}
		}
	}
	.layout-container {
		> header, 
		.nav-region,
		.region-breadcrumb,
		.region-highlighted, 
		> footer {
			margin-left: auto; 
			margin-right: auto;
			max-width: $max-width;
			@include pad(0 1.25em);
		}
	}
}