// a comment

.branding-block {
	@media screen and (min-width: $mq-l-tab) {
		float: left;
	}
	.site-name {
		font-size: 1.5em;
		margin: 0 0 0.5em 0;
		@media screen and (min-width: $mq-l-tab) {
			margin-top: 1em;
			margin-bottom: 0.25em;
		}
	}
}