// a comment

.breadcrumbs {
	ol {
		list-style: none;
		list-style-image: none;
	}
	li {
		display: inline-block;
		list-style: none;
		&:before {
			content: ' / ';
			display: inline;
		}
		&:first-child:before {
			content: '';
		}
	}
}