
/* footer elements  */

.layout-container > footer {
	color: $color-footer;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	a {
		&:link {
			color: $color-footer-link;
		}
		&:visited {
			color: $color-footer-visited;
		}
		&:hover {
			color: $color-footer-hover;
		}
		&active {
			color: $color-footer-active;
		}
	}
}