
/* form elements adapted from Bootstrap */

.form-item {
	label {
		display: block;
		font-family: $sans-serif; 
		font-weight: 500;
	}
	input[type="checkbox"] + label, 
	input[type="radio"] + label {
		display: inline;
		font-weight: 200;
	}
}

.marker, 
.form-required {
	color: $color-bluegreen-lt;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	box-sizing: inherit;
	display: inline-block;
	height: 2em; 
	width: 100%;
	padding: .35em .5em;
	margin-bottom: .25em;
	font-size: 1em;
	line-height: 1.5em;
	color: $color-gray;
	vertical-align: middle;
	border-radius: .35em; 
	font-family: $sans-serif;
	@include media($mq-l-tab) {
		width: 100%; 
	}
}

input[type="password"] {
	font-family: $sans-serif-fallback;
}

textarea {
  height: auto;
	@include media($mq-l-tab) {
		width: 100%; 
	}
}

.form-textarea-wrapper {
	@include media($mq-l-tab) {
		width: 100%; 
	}
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid ($color-gray + #888);
	//@include box-shadow(1px 1px 1px ($color-gray + #333) inset);  
	@include transition(border 0.2s linear 0, box-shadow 0.2s linear 0);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: $color-bluegreen-lt;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	box-shadow: 0 1px 1px #fff inset, 0 0 8px $color-gray-light;  
}

input[type="submit"] {
  display: inline-block;
  *display: inline;
  padding: .5em 1em;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 1em;
  line-height: 1.25em;
  *line-height: 1.25em;
  color: $color-gray; 
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  vertical-align: middle;
  cursor: pointer;
  background-color: $btn-base;
  *background-color: $btn-base;
  @include background-image(linear-gradient($btn-base-lt, ($btn-base)));
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: $btn-base $btn-base $btn-base-dk;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-top-color: #eaeaea;
  border-bottom-color: #a2a2a2;
	border-radius: 0.35em; 
  *zoom: 1;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);  
	@include transition(background-image 0.2s linear 0);
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled {
  color: $color-gray;
  background-color: $btn-base;
  *background-color: $btn-base;
}

input[type="submit"]:active,
input[type="submit"].active {
  background-color: #cccccc \9;
}

input[type="submit"]:first-child {
  *margin-left: 0;
}

input[type="submit"]:hover {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: $btn-base;
  *background-color: $btn-base;
  @include background-image(linear-gradient($btn-base, ($btn-base-dk)));
  /* Buttons in IE7 don't get borders, so darken on hover */

  //background-position: 0 -15px;
}

input[type="submit"]:focus {
  outline: thin dotted $color-gray;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="submit"].active,
input[type="submit"]:active {
  background-color: $btn-base;
  background-color: $btn-base \9;
  background-image: none;
  outline: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);  
}
