// Other nav blocks

.account-nav {
	display: block;
	float: right;
	margin-top: 0;
	@media screen and (min-width: $mq-l-tab) {
		margin-bottom: 1em;
	}
	.nav-menu {
		
	}
	.menu-item {
		border: none;
		padding: 0;
		@include inline-block;
		a {
			padding: 0 0.35em;
		}
	}
}

