// Variable translations to avoid customizing the navigation partial

$font-primary: $sans-serif;

$color-action: $nav-color-link;
$color-border: $color-gray-med;

.nav-region {
	background-color: #fafafa;
	position: relative;
}