

// Responsive JavaScript hooks
body:before {
	content: "smallscreen";
    @include move-off-screen;
    speak: none;
}
@media screen and (min-width: $bp-small) {
	body:before {
    	content: "mediumscreen";
	}
}
@media screen and (min-width: $bp-medium) {
	body:before {
    	content: "largescreen";
	}
}
@media screen and (min-width: $bp-large) {
	body:before {
    	content: "widescreen";
	}
}

.nav-menu-toggle {
	border: 1px solid $link-color-link;
	border-radius: 0.15em;
	display: block;
	font-weight: normal;
	padding: 0.2em 0.35em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	top: -3em;
	width: 5em;
	@media screen and (min-width: $bp-medium) {
		display: none;
	}
	&:link, 
	&:visited {
		color: $link-color-link;
	}
	&:hover {
		border-color: $link-color-hover;
		color: $link-color-hover;
	} 
}

.main-nav {
	display: none;
	//margin-top: 1em;
	@media screen and (min-width: $bp-medium) {
		display: inline-block;
		margin-top: 0;
		float: none;
		padding-top: 0;
	}
	&[aria-expanded="true"] {
		display: block;
	}
}

.nav-menu {
	@include is-clean;
	list-style: none;
	line-height: 1.4;  
	> ul {
		margin: 0;
		padding: 0;   
		.children {
			margin: 0;
			padding: 0 0 0 1em;      
			a {
				padding-left: 0;
				padding-right: 0;
			}
			@media screen and (min-width: $bp-medium) {
				.children > li {
					padding-left: 0.75em;
				}
			}	
		}
	}
}

.menu-item,
.page_item {
	margin: 0;
	border-top: 1px solid $color-border;
	overflow: hidden;
	padding: 1em 0;
	.nav-menu &:first-child {
		border-top: none;
	}
	@media screen and (min-width: $bp-medium) {
		border-top: 0;
		padding: 0;
		@include inline-block;
		position: relative;
		overflow: visible;
	}  
	a {
		@include inline-block;
		font-weight: 400;
		padding: 0 0.75em;
		border-bottom: 0;
		@include transition(background linear .15s);
		@media screen and (min-width: $bp-medium) {
			padding: 0.65em 1em;
		}
	}
  
	&:hover,
	&:focus,
	&.child-has-focus {
		> a {
			font-weight: 700;
			@media screen and (min-width: $bp-medium) {
				font-weight: 400;
				background: $color-action;
				@include box-shadow(0 3px 0 0 darken($color-action, 20));
				color: $color-white;
			}
		
		}
    
		.sub-menu,
		.children {
			top: 100%;
			left: 0;
			margin-right: -1px;
			a {
				font-weight: 400;
				color: $color-action;
				@include box-shadow(none);
				&:hover,
				&:focus {
					font-weight: 700;
				}
			}
		}
	}  
	&.has-children {
		
	}
	&.is-expandable {
		
	}
} // .menu-item

.ui-toggle-button {
	padding: 0;
	margin: 0.25em;
	border: 0;
	box-shadow: none;
	float: right;
	font-weight: 400;
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		background: none;
		color: $color-black;
	}
} // .ui-toggle-button

.sub-menu,
.children {
	@include is-clean;
	margin: 0.75em 0 0 0;
	list-style: none;
	clear: both;
  
	.footer & {
		display: none;
	}
	@media screen and (min-width: $bp-medium) {
		@include move-off-screen();
		@include font-size(14);
		width: 12.5em;
		margin-top: 0;
		padding: 0.25em 0;
		background: $color-white;
		border: 1px solid $color-border;
	}
	> .menu-item,
	.page_item {
		border: 0;
		padding: 0;
		display: block;
		a {
			display: block;
			padding: 0.75em 1em;
			@media screen and (min-width: $bp-medium) {
				padding: 0.25em 1em;
				background: none;
			}
		}
	}
	&[aria-expanded="false"] {
		display: none;
	}
}
