// a comment

.search-block-form {
	clear: right;
	float: right;
	margin-bottom: 1em;
	min-width: 14em;
	text-align: right;
	width: 35%;
	input[type="search"] {
		width: 10em;
	}
	.form-item {
		display: inline-block;
	}
	.form-actions {
		display: inline-block;
	}
	input[type="search"] {
		margin-bottom: 0;
	}
	input[type="submit"] {
		padding: 0.25em 0.35em;
	}
}