// a comment

.tabs {
	list-style: none;
	list-style-image: none;
	margin: 0 0 1em 0;
	padding: 0;
	li {
	    @include inline-block;
		&:first-child {
			a {
				border-left: none;
				@include border-radius(0.25em 0 0 0.25em);
			}
		}
		&:last-child {
			a {
				border-right: none;
				@include border-radius(0 0.25em 0.25em 0);
			}
		}
	}
	a {
		border-left: solid 1px lighten($color-gray-light, 10%);
		border-right: solid 1px darken($color-gray-light, 10%);
		margin: 0;
		padding: 0.15em 0.35em;
		&:link {
			background-color: $color-gray-light;
			color: #ffffff;
			text-decoration: none;
		}
		&:visited {
			background-color: $color-gray-light;
			color: #ffffff;
			text-decoration: none;
		}
		&:hover {
			background-color: $color-gray-med;
			color: #ffffff;
			text-decoration: none;
		}
		&.is-active {
			background-color: $color-gray;
			color: #ffffff;
			text-decoration: none;
		}
	}
}