


/******** HTML-BASE ***********/
/* style overrides for existing HTML elements - no id's or classes */
body {
	font-family: $sans-serif;
	font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
	.layout-container { /* including here to complete the base font sizing */
		font-size: (16 / $base-font-size) * 1em;
		line-height: $base-line-height;
	}
}




img {
	display: block; 
	max-width: 100%; 
	width: 100%; 
	height: auto;
}

figure a:hover, 
figure a:focus {
	background-color: transparent;
}

label {
	font-weight: normal;
}
/******* /HTML-BASE ***********/

